.shop_container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products_container {
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px 50px;
}